<div class="space-y-8">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold">Family Member Dashboard</h1>
    <div class="flex justify-around">
      <p><%= link_to 'Add Family Member', new_member_url, class: "text-blue-600 underline" %></p>
      <p class="px-2">|</p>
      <p><%= link_to 'View All Tasks', tasks_url, class: "text-blue-600 underline" %></p>
    </div>
  </div>

  <div class="w-full">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="w-2/4 px-6 py-3">Name</th>
          <th scope="col" class="w-1/4 px-6 py-3">Task count</th>
          <th scope="col" class="w-1/4 px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr class="border-b">
            <td class="px-6 py-4"><%= member.name %></td>
            <td class="px-6 py-4"><%= member.tasks_count %></td>
            <td class="px-6 py-4">View Tasks</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='w-[100%] text-center'>
    <%= paginate @members %>
  </div>
</div>
